 body{  
    margin:0;
	background:#ECECEA;
 }
 
 /************** zONING *********************/
.barreLeterale {
  height: 100%;
  width: 200px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color:#111; /*  #558c89; */
  overflow-x: hidden;
  padding-top: 20px;
}

.barreLeterale a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;  /* #aaa;  */
  display: block;
}

.barreLeterale a:hover {
  color: #f1f1f1; /*  */
}

@media screen and (max-height: 450px) {
  .barreLeterale {padding-top: 15px;}
  .barreLeterale a {font-size: 18px;}
}

.main {
	margin-left: 200px; 
	padding:5% 10%;
}


 
 /************* exo2(Contenu) ******************/

 h4, .contenu {
	border:1px dashed #8c8b8b;
	border-radius:12px; /* border-radius:6px; */
	padding:5%;/* padding:2% 22% ; */
 }
 h4{
	 text-align:center;	 
 }


 footer{
	margin-top:1em;
	padding:5%; /* padding:2% 0 ; */
	/*
	text-align:center;
	*/
	border:1px dashed #8c8b8b;
	border-radius:6px;
 }
 
 /**************** exo2(corps.php) exo3(login.php)************************ */
 
 .form, .affichage, table{	 
	 
	  width:100%;	  
	  padding:0;/* padding:100px; */
	  margin: 0 auto;
      height:auto;	  
	  background-color:white;   
	  box-shadow:
		0px 2px 2px 0px rgba(0, 0, 0, 0.5) inset,
		0px 2px 2px 0px rgba(255, 255, 255, 0.5);
	  border:1px solid #8c8b8b; 
 }
 .affichage{
	width:auto; 
 }
 table{ 
    border:none;
	border-collapse: collapse;
   
    margin:0;
}


 
button{ 
   padding:1% 0;
}
 
 button:hover{
	 cursor:pointer;
 }
 input{
	padding:0.5em 10.6em; 

 }
 
 form p input{
	margin-left:1em;
 }
 
 form input ~ input {  /* lien vers info.php */
	margin-left:2.8em;
	width:6.36em;		 
 }
 
 form input ~ input ~ input {  /* lien vers info2.php */
	margin-left:-1em;	
	width:6.36em;
 }
 
 
 
.idS{
	border:1px solid #8c8b8b ; 
	padding:1px 4px; 
	border-radius:0 0 3px 3px;
							
	/* box-shadow:0.2px 2px 8px 0px #8c8b8b; */
	
	box-shadow:0.2px 2px 16px 0px #8c8b8b; 

	width:100%;/* 96.5%;  */
	background:white;
	margin-bottom:1em;
	/* mettre un display:inline-block; pour appliquer un width à 1 elt inline */ 
}

.subQuestion{
   line-height:1.5; 
   background:white;
   display:inline-block;
   width:98.2%;
}
.t-transparent{
	line-height:1.5; 
	border:none;
	margin-top:2em !important;
	margin-bottom:0 !important;
	background:transparent !important;
	width:98.2% !important;
}
.paragraphe{
	border:1px solid #8c8b8b; 
	padding: 0.5em 1em;
	line-height:1.5;
	margin:1em 0; 
	border-radius: 2px;
	display:inline-block;
	background:white;
	width:93.9%;

}
.numero{ 
	color:black;
    font-family:calibri light;	
	border-radius:50px;		
	box-shadow:
	0px 16px 4px 0px white inset,
	0px 2px 4px 0px inset;		
}
